body {
  margin: 0;
}

nav {
  display: block;
  background-color: #333;
  overflow: hidden;
  height: 70px;
  width: 100%;
  padding: 10px;
}

nav img {
  margin-bottom: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

ul {
  float: right;
  text-align: center;
  padding-right: 20px;
  padding-left: 0;
  margin-top: 0;
  height: 70px;
  list-style: none;
}

li {
  float:left;
  display:block;
  background:blue;
}

li a {
  display: inline-block;
  min-height: 100%;
  width: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: white;
}

h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center {
  position: absolute;
  padding-left: 50%;
  width: 300px;
}